.post-status-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-status {
  width: 1050px;
  height: 120px;
  background: white;
  margin-top: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-post-modal {
  width: 80%;
  height: 50px;
  text-align: right;
  color: #212121;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
}
.open-post-modal:hover {
  background-color: #dcdbdb;
}
