/*Navbar style*/
.navbar {
    background:#fdfdfd;


}

.navbar_logo{
    width:8vw;
    height:2vw;
}
@media(max-width: 991px){
    .sidebar{
        background:#fff ;
        backdrop-filter: blur(10px);
    }

    .btn-close{
        position: absolute;
        left:15px;
    }


}