@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}


body{
  width:100%;
  min-height: 100vh;
  overflow-x:hidden;
  padding-top: 50px; /* Adjust the padding to account for the fixed navbar height */
}
