@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}


body{

  width:100%;
  min-height: 100vh;
  overflow-x:hidden;
}

/*Navbar style*/
nav{
  padding:2%;
  background:#FFFFFF;
  width:100vw;


}
.NavContainer{
  width:100vw;
  height:10vh;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center;
}

.navbar_nav{
  display:flex;
  flex-direction:row;
  width:30vw;
  justify-content: space-between;
}
.navbar_nav li{
  list-style: none;
}
.navbar_nav a{
  text-decoration: none;
  color:#1C6575;
  font-size:1vw;
  font-weight:300;

}

.NavContainer .navbar_logo{
  width:5vw;
  height:8vh;
}

nav .NavContainer .navbar_buttons button{
  margin-left:1em;
  font-size:1vw;
  border-radius: 3em;
  padding:0.5em 1.5em;
  
}

nav .NavContainer div .navbar__signin-button{
  color:#fff;
  background: linear-gradient(180deg, rgba(40,144,166,1) 0%, rgb(38, 130, 151) 66%);
}
nav .NavContainer div .navbar__signin-button:hover{
transform: scale(1.1);
transition: 0.2s;
}
nav .NavContainer div .navbar__signup-button{
border-color:#1C6575;
color:#1C6575;
}
nav .NavContainer div .navbar__signup-button:hover{
  background:transparent;
  border-color: #fff;
  transform: scale(1.1);
  transition: 0.2s;

}

.btn-outline-success{
  background:#fff;
  margin-left:1em;
}

/*End of navbar*/

/*Hero Header */
.header_hero{
  background: rgb(40,144,166);
background: linear-gradient(180deg, rgba(40,144,166,1) 0%, rgba(28,101,117,1) 66%);
width:100vw;
height:100vh;
}

.header_hero .header_hero-title{
  color:#fff;
  font-size:3vw;
  font-weight: 700;
  margin-bottom:0.1em;
}

.header_hero .header_hero-subtitle{
  color:#fff;
  font-size:1.5vw;
  font-weight:300;

}

.header_hero .header_hero-buttons{
  margin-top:1em;
}
.header_hero-buttons button{
  padding:0.5em 1.5em;
  border-radius: 13em;
  
}
.header_hero .header_hero-btn_join{
  background:transparent;
  border-color: #fff;
  margin-left:1em;
}

.header_hero .header_hero-btn_join:hover{
   transform: scale(1.1);
  transition: 0.2s;
}
.header_hero-btn_join span{
  color:#fff;
  font-size:1vw;
}

.header_hero-btn_readmore{
  background:#fff;
}

.header_hero-btn_readmore:hover{
  background:transparent;
  border-color: #fff;
  color:#fff;
  transform: scale(1.1);
  transition: 0.2s;

}
.header_hero-btn_readmore:hover span{
  color:#fff;
}
.header_hero-btn_readmore span{
  font-size:1.3vw;
  color:#1C6575;
} 


/*End of Hero header*/

/*Section post*/
section.join-us__section{
  min-height:50vh;
}

.join-us__section h2{
  font-size:2vw;

}
section.join-us__section div h1{
  color:#133A43;
  font-size: 4vw;
}
section.join-us__section div p{
  color:#1C6575;
  font-size:1.3vw;
}
.section_post div {
  padding-left: 8em;
}
/*Section button*/
.section-buttons {
  margin-top: 1em;
}
.section-buttons .section-btn_readmore{
  color:#fff;
  background: linear-gradient(180deg, rgba(40,144,166,1) 0%, rgba(28,101,117,1) 66%);
  font-size:1.3vw;
  padding:0.5em 1.5em;
  border-radius: 3em;
  text-align: center;
}
.section-buttons .section-link_join {
  text-decoration: none;
  color:#000;
  margin:0 2em 0 0;
  font-size:1.3vw;
}
/* Section Card*/
.card-categories__section h2{
 text-align: center;
 font-size: 3em;
}
.categories{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  
}